progress {
	position: absolute;
	top: 25%;
	-webkit-appearance: none;
	width: 55%;
}
#imgOne{
	position: absolute;
	bottom: 75%;
	width: 33%;
}
#imgTwo{
	width: 20%;
}
input{
	outline: none;
	border: none;
	width: 80%;
	height: 35px;
	border-radius: 20px;
	text-align: center;
	padding: 15px;
}
h1{

}
::-webkit-progress-bar {
	background-color: #fbe9db;
}
::-webkit-progress-value {
	background-color: #b28c6e;
}
.lblQuestion{
	width: 100%;
	height: 20%;
	flex-direction: column;
	transition: 500ms ease;
}
#textQuestion{
	text-align: center;
	height: 25%;
	overflow: scroll;
}
#sendAnswer{
	width: 50%;
	height: 8%;
	background-color: #479276;
	border-radius: 30px;
	color: #fff;
}
#divError{
	position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(8px);
	display: none;
	transition: 500ms ease;
}
#imgError{
	position: static;
	width: 100%;
	margin-bottom: 15%;
}
#msjError{
	text-align: center;
	position: absolute;
	font-size: 20px;
	width: 40%;
	height: 20%;
	font-weight: 400;
	margin-top: 68%;
}