progress {
	position: absolute;
	top: 25%;
	-webkit-appearance: none;
	width: 80%;
}
img{
	position: absolute;
	bottom: 75%;
	width: 40%;
}
input{
	outline: none;
	border: none;
	width: 80%;
	height: 35px;
	border-radius: 20px;
	text-align: center;
}
h1{

}
::-webkit-progress-bar {
	background-color: #fbe9db;
}
::-webkit-progress-value {
	background-color: #b28c6e;
}
.lblQuestion{
	width: 100%;
	height: 20%;
	flex-direction: column;
	transition: 500ms ease;
}
#textQuestion{
	text-align: center;
}
#sendAnswer{
	width: 50%;
	height: 8%;
	background-color: #479276;
	border-radius: 30px;
	color: #fff;
}